body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.back-link:hover {
  background-color: #0056b3;
}

button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-group {
  margin-bottom: 20px;
}

#moduleList {
  margin-top: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input, button, select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.module {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.module h2 {
  margin-top: 0;
}

.module .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.module button {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  input, button, select {
    font-size: 14px;
    padding: 8px;
  }

  .form-group {
    flex-direction: column;
  }
}

.error {
  border: 2px solid red;
}

#videoElement {
  border: 1px solid #ccc;
  width: 640px;
  height: 480px;
}